body{
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px; 
    max-width: 350px;
    padding: 1rem;
    margin: auto; 
    border: 1px solid #ccc;
    border-radius: 12px;
}
#lado_esquerdo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(105, 54, 54);*/
    height: 100vh;
    width: 100vh;
}
#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color:rgb(63, 95, 63);
    opacity: 0.9;
    border-radius: 12px;
    
}
#lado_direito{
    flex: 1;
    
    background-position: 50% 90%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
    background-image: url('../../assets/parnaioca4-cortada.jpg');
}
#formulario_funcionarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#formulario_funcionarios form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
